
.tooltipped {
  display: inline-block;
  position: relative;
}

.tooltipped:before,
.tooltipped:after {
  z-index: 500;
  display: none;
  position: absolute;
  bottom: 100%;
  left: 12px;
}
.dates.tooltipped:before,
.dates.tooltipped:after {
  left: 8px;
}

.tooltipped:after {
  content: attr(aria-label);
  white-space: nowrap;
  margin-bottom: 6px;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  color: white;
  border-radius: 6px;
  background-color: #3d464d;
  transform: translateX(-50%);
  transform-origin: 50% 50%;
}

.tooltipped:before {
  content: "";
  margin-top: -6px;
  margin-bottom: -6px;
  margin-left: -6px;
  border: 6px solid transparent;
  border-top-color: #3d464d;
  border-bottom-color: transparent;
}

.tooltipped:hover:before,
.tooltipped:hover:after,
.tooltipped:focus:before,
.tooltipped:focus:after {
  display: block;
}
