@import './basscss-padding.css';
@import './basscss-margin.css';

.mw7     { max-width: 48rem; }
.center  { margin-right: auto; margin-left: auto; }

.ttu     { text-transform: uppercase; }
.tracked { letter-spacing: .16em; }
.tc      { text-align: center; }
.lh0     { line-height: 0; }

.bg-white { background-color: #fff; }
.bg-stain { background-color: #fee; }
.bg-red   { background-color: #f52; }
.bg-blue  { background-color: #08e; }
.red   { color: #f52; }
.white { color: #fff; }

.bb { border-bottom: 1px solid rgba(0,0,0,.25); }

.flex { display: flex; }
.items-center { align-items: center; }
.flex-wrap { flex-wrap: wrap; }
.flex-auto { flex: 1 1 auto; }

.sm-show { display: none; }
.md-show { display: none; }

@media (min-width: 40em) {
  .sm-show { display: block; }
}
@media (min-width: 52em) {
  .md-show { display: block; }
  .md-flex { display: flex; }
  .md-col-12 { width: 100%; }
}
